[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
djangorestframework-stubs = "*"
flake8 = "*"
tox = "*"

[packages]
mypy = "*"
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
